* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    min-height: 8vh;
    background-color: rgb(138, 138, 202);
    color: white;
    text-transform: uppercase;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.logo {
    letter-spacing: 10px;
    text-transform: uppercase;
}

.nav-links a {
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.nav-links li {
    list-style: none;
}

.burger div {
    right: 0px;
    width: 20px;
    height: 3px;
    margin: 3px;
    background-color: rgb(236, 230, 222);
    transition: all 3s ease-in-out;
    cursor: pointer;
}

.burger {
    display: none;
}


@media screen and (max-width:1024px) {
    .nav-links {
        width: 70%;
    }



}


@media screen and (max-width:768px) {


    body {
        overflow-x: hidden;
    }



    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        background-color: rgb(96, 103, 126);
        transition: transform 0.6s ease-in-out;
    }

    .burger {
        display: block;
        cursor: pointer;
    }

    .nav-active {
        transform: translateX(0%);
    }

    .nav-links li {
        margin: 50px;

    }

}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggel .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

.box-container {
    background-color: rgb(117, 117, 230);

    width: 100%px;
    height: 50%;
    text-align: center;
    justify-content: center;
    padding: 100px;
    margin: 10%;
    align-items: center;
}

.bgcolor {
    background-color: red;

}

#time {
    padding: 20px;
}